body {
  color: aqua;
  background-color: "yellow";
}
.colormeyellow {
  background-color: "yellow";
}
.customcss {
  color: white;
}
.customcss .p {
  background-color: "red";
}
.customcss .a {
  background-color: "blue";
}
